<main class="search">
  <section class="search-background">
    <img src="../../../../assets/images/full-bg.jpg" alt="">
    <nav>
      <ul class="menu">
        <li class="menu-item">
          <a [routerLink]="['/search']">home</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/about']">what's fuzzer</a>
        </li>
        <li class="menu-item">
          <a href="#">help us</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="search-content" [class.expand]="artistsList.length == 0">
    <h2>
      add artists to your new playlist!
    </h2>
    <div class="artists">
      <form class="artists-header" #form="ngForm">
        <input
          class="artists-search"
          name="search"
          placeholder="type the artist or band name..."
          [(ngModel)]="searchQuery"
          #search="ngModel"
          type="text"
          autocomplete="off">

        <button #search id="search" (click)="searchArtist(); form.reset()">Search</button>
      </form>
      <div class="selected-artists" *ngIf="selectedArtists.length > 0">
        <small>selected artists:</small>
        <ul class="selected-artists__list">
          <li *ngFor="let artist of selectedArtists; let i = index" (click)="removeArtist(i)">
            {{ artist.name }}
          </li>
        </ul>
        <button class="go-playlist" (click)="openDialog()">generate my playlist!</button>
      </div>
      <div class="artists-result">
        <ul class="artists-result__list">
          <li *ngFor="let artist of artistsList">
            <div class="click-area" (click)="selectArtist(artist)">
              <img src="{{ artist.images.length > 0 ? artist.images[1].url : '' }}" alt="">
              <p class="artist-name">{{ artist.name }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>