@import '../../../../assets/styles/index'

.search
  box-sizing: border-box
  padding: 0 5px

  @media screen and (max-width: 767px)
    padding: 0 5px

  &-title
    text-align: left

  &-content
    align-items: center
    box-sizing: border-box
    display: flex
    padding: 100px 0

    &.search-active
      padding-top: 36px

  &-header
    background-color: var(--fuzzer-white)
    border-radius: 5px
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)
    margin-bottom: 36px
    padding: 36px

    &__title
      color: $fuzzer-green
      margin: 0 0 30px
      text-align: center

    form
      display: flex
      min-height: 55px
      margin-bottom: 22px

      @media screen and (max-width: 731px)
        flex-direction: column
        min-height: 40px
        margin-bottom: 10px

        input
          margin-bottom: 16px
          width: 100%

        #search
          border-radius: 5px
          padding: 22px 50px

  .artists
    display: flex
    flex-direction: column
    width: 100%

    &-search
      width: 90%
      padding: 18px
      border: none
      color: $fuzzer-black
      font-size: 18px
      font-family: 'Montserrat', sans-serif
      font-weight: 300
      box-sizing: border-box
      outline: none
      border-bottom: 2px solid $fuzzer-black

  .playlist
    &-link
      background-color: var(--fuzzer-gray-lighter)
      padding: 36px
      text-align: center

    &-btn
      background: #ef8a3b
      color: $fuzzer-white
      padding: 15px 40px
      text-decoration: none
