@import '../../../../assets/styles/index'

.expand
  margin-top: 50%

  @media screen and (orientation: landscape)
    margin-top: 10%

.search
  display: flex
  height: 100vh

  @media screen and (max-width: 731px)
    flex-direction: column
    height: auto

  &-content
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 60px 40px
    position: relative
    width: 60%
    color: $fuzzer-green
    font-family: 'Montserrat', sans-serif
    text-align: center
    box-sizing: border-box

    @media screen and (orientation: landscape)
      overflow: auto

    @media screen and (max-width: 731px)
      width: 100%
      height: 100%
      padding: 20px

    h2
      margin: 0 0 30px
      font-size: 35px
      font-weight: 300

      @media screen and (max-width: 731px)
        margin: 0 0 20px
        font-size: 26px

  nav
    position: relative
    align-self: flex-start
    margin: 20px 30px
    padding: 10px
    width: 320px
    background-color: $fuzzer-black
    box-sizing: border-box

    .menu
      font-size: 18px

      a
        margin: 0 5px
        color: $fuzzer-white
        text-decoration: none

        &::before
          content: ''
          width: 0
          height: 0
          border-left: 320px solid transparent
          border-bottom: 14px solid $fuzzer-black
          position: absolute
          left: 0
          top: -13px

  &-background
    display: flex
    justify-content: center
    position: relative
    flex-grow: 1

    img
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover

  .artists
    display: flex
    flex-direction: column
    width: 100%

    &-search
      width: 90%
      padding: 18px
      border: none
      color: $fuzzer-black
      font-size: 18px
      font-family: 'Montserrat', sans-serif
      font-weight: 300
      box-sizing: border-box
      outline: none
      border-bottom: 2px solid $fuzzer-black

    &-result
      flex-grow: 1
      overflow: auto

      @media screen and (max-width: 731px)
        max-height: 55vh

      @media screen and (orientation: landscape)
        max-height: 35vh

      &__list
        display: flex
        flex-wrap: wrap

        li
          position: relative
          display: flex
          align-items: center
          justify-content: center
          min-width: 145px
          flex-grow: 1
          height: 170px
          margin: 2.5px
          background-color: $fuzzer-black
          cursor: pointer
          transition: .2s

          &:hover
            background-color: #000

          img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            opacity: 0.3

          .artist-name
            position: absolute
            bottom: 10px
            left: 10px
            max-width: 84%
            background: $fuzzer-black
            padding: 10px
            color: $fuzzer-white

    &-header
      display: flex
      min-height: 55px
      margin-bottom: 30px

      @media screen and (max-width: 731px)
        min-height: 40px
        margin-bottom: 10px

      button
        padding: 0 50px
        border: 0
        text-transform: uppercase
        color: $fuzzer-white
        background: $fuzzer-black
        cursor: pointer

  .click-area
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .selected-artists
    margin-bottom: 30px
    text-align: left

    @media screen and (max-width: 731px)
      margin-bottom: 10px

    &__list
      display: flex
      flex-wrap: wrap

      li
        min-width: 80px
        margin: 5px
        padding: 10px 20px
        background-color: $fuzzer-green
        color: $fuzzer-white
        text-align: center
        cursor: pointer
        transition: .2s

        &:last-child
          margin-right: 0

        &:first-child
          margin-left: 0

  .go-playlist
    width: 100%
    padding: 15px
    font-size: 15px
    margin: 5px 0
    border: 0
    background-color: #ff963d
    color: $fuzzer-white
    cursor: pointer

    &:active
      background-color: #d67d32
