<main class="search container">
  <h1 class="search-title color-orange">FREEDOM!</h1>
  <ng-container *ngIf="!playlist">
    <div class="search-header">
      <h3 class="search-header__title">
        add one or more artists to your new playlist!
      </h3>
      <form #form="ngForm">
        <input
          class="artists-search"
          name="search"
          placeholder="type the artist or band name..."
          [(ngModel)]="searchQuery"
          #search="ngModel"
          type="text"
          autocomplete="off" />
        <button #search id="search" (click)="searchArtist(); form.reset()">Search</button>
      </form>
    </div>
    <div class="artists">
      <app-search-selected-artists></app-search-selected-artists>
      <div>
        <app-search-result></app-search-result>
      </div>
    </div>
  </ng-container>
  <div class="playlist-link" *ngIf="playlist">
    <h2>listen to <strong>{{ playlist.name }}</strong>:</h2>
    <a [href]="playlist.external_urls.spotify" class="playlist-btn"
      target="_blank" (click)="clearLink()">open <strong>{{ playlist.name }}</strong> on spotify</a>
  </div>
</main>