<main class="login">
  <nav>
    <ul class="menu">
      <li class="menu-item">
        <a [routerLink]="['/search']">home</a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/about']">what's fuzzer</a>
      </li>
      <li class="menu-item">
        <a href="#">help us</a>
      </li>
    </ul>
  </nav>
  <section class="login-title">
    <h1>
      <span class="login-title__default">welcome to</span>
      <span class="login-title__big">fuzzer!</span>
      <span class="login-title__small">let’s fuzz your favorite songs!</span>
    </h1>
    <img class="arrow" src="../../../../assets/images/arrow.svg" alt="">
  </section>
  <section class="login-background">
    <img src="../../../../assets/images/full-bg.jpg" alt="">
    <button class="login-button" (click)="onLogin()">Login with Spotify</button>
  </section>
</main>