@import '../../../../../assets/styles/index'

.header
  background-color: $fuzzer-black
  padding: 16px 0
  position: sticky
  top: 0

  h1
    margin: 0

  .container
    align-items: center
    display: flex
    justify-content: space-between

    @media (max-width: 767px)
      flex-direction: column
      justify-content: center

  &-title
    align-items: center
    color: $fuzzer-green
    display: flex
    font-size: 36px
    font-weight: 800

    img
      margin-right: 10px

  &-nav
    li
      & + li
        margin-left: 16px

    a
      color: $fuzzer-green
      font-size: 18px
      font-weight: 600
      text-decoration: none

    @media (max-width: 767px)
      margin-top: 24px
