<header class="header">
  <div class="container">
    <h1 class="header-title">
      <img
        src="../../../../../assets/images/fuzzer-logo.svg"
        alt="Fuzzer logo"
      />
      fuzzer!
    </h1>

    <nav class="header-nav">
      <ul>
        <li *ngFor="let item of headerMenuItems">
          <a [routerLink]="[item.link]">{{ item.label }}</a>
        </li>
        <li>
          <a
            href="https://github.com/nayramartins/fuzzer-mvp"
            target="_blank"
          >
            help us
          </a>
        </li>
        <li>
      </ul>
    </nav>
  </div>
</header>