.main
  background-color: var(--fuzzer-gray-lighter)
  background-image: url('../assets/images/green-dots.svg'), url('../assets/images/orange-dots.svg')
  background-position: left bottom, right top
  background-repeat: no-repeat
  box-sizing: border-box
  height: calc(100vh - 89px)
  padding-top: 170px
