<main class="about">
  <section class="about-background">
    <img src="../../../../assets/images/full-bg.jpg" alt="">
    <nav>
      <ul class="menu">
        <li class="menu-item">
          <a [routerLink]="['/search']">home</a>
        </li>
        <li class="menu-item">
          <a [routerLink]="['/about']">what's fuzzer</a>
        </li>
        <li class="menu-item">
          <a href="#">help us</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="about-content">
    <h2 class="title-text">
      <span class="title-text__first">what's</span>
      <span class="title-text__second">fuzzer?</span>
    </h2>
    <p>fuzzer it's a Spotify app that makes possible for you to select artists and create dynamic playlists with 
      their most popular songs. All you need to do is to hit play and chill.</p>
  </section>
</main>