<main class="about">
  <section class="about-background">
    <img src="../../../../assets/images/full-bg.jpg" alt="">
  </section>
  <section class="about-content">
    <h2 class="title-text">
      <span class="title-text__first">what's</span>
      <span class="title-text__second">fuzzer?</span>
    </h2>
    <p>fuzzer it's a Spotify app that makes possible for you to select artists and create dynamic playlists with 
      their most popular songs. All you need to do is to hit play and chill.</p>
  </section>
</main>