<div class="create-title">
  <h2>almost there!</h2>
  <p>to start the party we just need some informations.</p>
</div>
<form class="create-dialog"
      #form="ngForm">
    <div class="input-group">
      <input required
              placeholder="a cool playlist name..."
              name="name"
              [(ngModel)]="playlist.name"
              #name="ngModel"
              type="text"
              autocomplete="off">
      <input placeholder="some short description..."
              name="description"
              [(ngModel)]="playlist.description"
              #description="ngModel"
              type="text"
              autocomplete="off">
    </div>
    <h3>is this a public playlist?</h3>
    <mat-radio-group>
      <mat-radio-button value="true">yes</mat-radio-button>
      <mat-radio-button value="false">no</mat-radio-button>
    </mat-radio-group>

  <button (click)="close()" class="go-playlist">
    let's do this
  </button>
</form>
