@import "~@angular/material/prebuilt-themes/indigo-pink.css"

*
  outline: none

:root
  --fuzzer-black: #2C2C2C
  --fuzzer-gray: #717171
  --fuzzer-gray-lighter: #F0F0F0
  --fuzzer-white: #ffffff
  --fuzzer-green: #5fceca
  --fuzzer-green-dark: #369D99
  --fuzzer-green-darker: #1f8564
  --fuzzer-green-light: #5edbb3
  --fuzzer-orange: #FC9C54
  --fuzzer-orange-light: #ff963d

body
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif
  color: var(--fuzzer-black)
  font-size: 14px

button
  font-family: 'Montserrat', sans-serif
  font-weight: 800
  padding: 0 50px
  border: 0
  text-transform: uppercase
  color: #fff
  background: #2c2c2c
  cursor: pointer

h1
  color: var(--fuzzer-black)
  font-size: 48px
  font-style: italic

h2
  font-size: 36px
  font-style: italic

h3
  font-size: 24px
  font-weight: 300

ul
  margin: 0
  padding: 0

  li
    display: inline
    list-style: none

.color-green
  color: var(--fuzzer-green-dark)

.container
  margin: 0 auto
  width: 66.6%

  @media (max-width: 1024px)
    width: 90%

.mat-snack-bar-container
  font-family: 'Montserrat', sans-serif
  font-weight: 300

  &.success
    background: #5fceca

  &.error
    background: #bd2323

  &.warning
    background: #fba31f

.mat-simple-snackbar
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  font-weight: 600

.grid
  display: grid

.btn
  border-radius: 20px
  font-size: 16px
  letter-spacing: 1px
  padding: 24px 64px

  @media (max-width: 767px)
    font-size: 14px
    padding: 24px 56px

.btn-small
  background-color: var(--fuzzer-black)
  border: none
  border-radius: 22px
  color: var(--fuzzer-white)
  cursor: pointer
  font-weight: 400
  padding: 12px 22px

  &:disabled
    opacity: 0.5

  @media (max-width: 767px)
    width: 100%

.go-playlist
  width: 100%
  padding: 15px
  font-size: 15px
  margin: 5px 0
  border: 0
  background-color: var(--fuzzer-orange-light)
  color: var(--fuzzer-white)
  cursor: pointer

  &:disabled
    opacity: 0.5
    cursor: not-allowed