@import "~@angular/material/prebuilt-themes/indigo-pink.css"

*
  outline: none

:root
  --fuzzer-black: #2C2C2C
  --fuzzer-gray: #717171
  --fuzzer-white: #ffffff
  --fuzzer-green: #5fceca
  --fuzzer-green-dark: #1f8564
  --fuzzer-green-light: #5edbb3
  --fuzzer-orange: #FC9C54
  --fuzzer-orange-light: #ff963d

body
  margin: 0
  padding: 0
  font-family: 'Montserrat', sans-serif
  color: #2c2c2c
  font-size: 14px

button
  font-family: 'Montserrat', sans-serif
  font-weight: 800
  padding: 0 50px
  border: 0
  text-transform: uppercase
  color: #fff
  background: #2c2c2c
  cursor: pointer

h1
  margin: 0

ul
  margin: 0
  padding: 0

  li
    display: inline
    list-style: none

.container
  margin: 0 auto
  width: 66.6%

  @media (max-width: 1024px)
    width: 90%

.mat-snack-bar-container
  font-family: 'Montserrat', sans-serif
  font-weight: 300

  &.success
    background: #5fceca

  &.error
    background: #bd2323

  &.warning
    background: #fba31f

.mat-simple-snackbar
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  font-weight: 600

.grid
  display: grid

.btn-small
  background-color: var(--fuzzer-black)
  border: none
  border-radius: 22px
  color: var(--fuzzer-white)
  cursor: pointer
  font-weight: 400
  padding: 12px 22px

  &:disabled
    opacity: 0.5

  @media (max-width: 767px)
    width: 100%